<style>
  a {
    color: white;
  }
  .isTrending {
    background: blue;
  }
</style>

<nav class=" navbar-expand-lg bg-dark border border-dark">
  <div class="container-fluid">
    <ul class="navbar nav justify-content-between align-self-end ">

        <li>
      <app-header>

      </app-header>
        </li>
      <div class="d-flex w-50 m-auto justify-content-center">
      <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="blog">Blog</a></li>
      <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="edit/create">Créer son post</a></li>
      <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="users">Utilisateurs</a> </li>
      </div>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>

